@media screen and (max-width: 1115px) {
    .grid.wide2 {
        width: 970px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1024px) {
    .body__top {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #121212;
        height: var(--header-body-top);
        --size-pad: 40px;
        padding: 0 var(--size-pad);
        z-index: 2;
    }
    .search-mobile {
        position: relative;
    }
    .search-bar::before {
        --size: 15px;
        position: absolute;
        content: "";
        top: calc(calc(var(--size) / 2) * -1);
        right: calc(var( --size-pad) - 2px);
        width: var(--size);
        height: var(--size);
        transform: rotate(45deg);
        background-color: #fff;
        z-index: -1;
        box-shadow: 0 0 6px 1px #999;
    }
    .search-bar::after {
        --size: 15px;
        position: absolute;
        content: "";
        top: 0;
        right: 0;
        width: 100%;
        height: var(--size);
        background-color: #fff;
        z-index: 5;
    }
    /* serach bars on mobile  */
    .grid-pos {
        position: relative;
        height: 100%;
    }
    .search-bar {
        position: absolute;
        left: 0;
        right: 0;
        transform: translateY(-100%);
        box-shadow: 0 0 6px 1px #999;
        padding: 20px;
        background-color: #fff;
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s linear;
    }
    .showSearchBar {
        bottom: -100%;
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
    }
    .search-bar-contaniner {
        height: 38px;
        border: 1px solid #828282;
        display: flex;
        align-items: center;
        padding: 0 10px;
    }
    .mobile-input {
        height: 100%;
        flex: 1;
        font-size: 1.5rem;
        padding: 10px;
    }
    .mobile-input::placeholder {
        font-size: 1.5rem;
    }
    .icon-bars-mobile {
        font-size: 1.4rem;
        color: #828282;
        padding: 0 10px;
        cursor: pointer;
    }
    .body-social,
    .body__name-web,
    header {
        display: none;
    }
    .search-mobile {
        height: 100%;
        flex: 1;
        display: flex;
        justify-content: flex-end;
    }
    .icon-close-mobile {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(-360deg);
        right: 0;
        opacity: 0;
        transition: transform 1s linear;
    }
    .showIconCloseMobile {
        opacity: 1;
        transform: translateY(-50%) rotate(0deg);
        z-index: 1;
    }
    .icon-search-mobile {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) scale(1);
        right: 0;
        z-index: 1;
        transition: all 0.4s linear;
        opacity: 1;
    }
    .showIconSearchMobile {
        opacity: 0;
        transform: scale(0);
        z-index: -1;
    }
    .icon-search-mobile,
    .icon-close-mobile {
        font-size: 1.8rem;
        cursor: pointer;
    }
    .icon-bars,
    .icon-search-mobile,
    .icon-close-mobile {
        color: white;
    }
    .logo,
    .search-mobile,
    .search-bar {
        display: block;
    }
    .category-top {
        display: none;
    }
    .category {
        position: relative;
        z-index: -1;
        margin-top: calc(var(--header-body-top) + 0px);
    }
    .wide2 {
        width: 750px;
        margin: 0 auto;
    }
    .product__img {
        height: 150px;
    }
    .footer__copy-right {
        width: 100%;
    }
    .footer__bottom {
        flex-wrap: wrap;
        flex-direction: column-reverse;
        align-items: flex-start;
    }
    .footer-social-link {
        padding-left: 0;
    }
}

@media (max-width: 739px) {
    .body__top {
        width: 100vw;
    }
    .icon-close-modal {
        top: 10px;
        right: 10px;
        font-size: 3rem;
    }
    .body__top {
        --size-pad: 10px;
    }
    .form__login {
        display: none;
    }
    .logo svg {
        width: 145px !important;
    }
    .grid.wide2 {
        width: 384px;
    }
    .hide-on-mobile {
        display: none;
    }
    .product__button {
        display: none;
    }
    .product__des-second {
        display: none;
    }
    .product__title-second a {
        font-size: 1.9rem;
    }
    .product-menu {
        margin: 50px 0;
    }
    .row-margin {
        width: 100vw;
    }
    .footer__bottom {
        margin-left: 20px;
    }
}